<div class = "title">
  access&link
</div>

<div class = "acccessBox">
  <div class = "access">
  </div>
  <div class  = "link">
    おすすめ美容室
    <ul>
      <a href= "https://www.hairmakesarai.com/" >
      <li>ヘアーメイク紗来</li>

    </ul>
  </div>
</div>