.title
  access&amp;link
.acccessBox
  .access
    
    %iframe{:allowfullscreen => "", "aria-hidden" => "false", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.970916705714!2d139.42530002180925!3d36.32996682586041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601f2195de218c17%3A0x27f805e4f736f446!2z44OW44OG44Kj44OD44Kv44Ko44Or44O044Kn!5e0!3m2!1sja!2sjp!4v1592705002877!5m2!1sja!2sjp", :style => "border:0;", :tabindex => "0", :width => "500"}

    
  .link
    .adress
      ブティックエルヴェ 
      %br
      %br
      〒326-0825 栃木県足利市中川町２−３
      %br
      %br
      TEL 0284-73-0709
      %br
      %br
      定休日　毎週水曜日
      %br
      %br
      営業時間　１０：００～１９：００


    %br
    %br
    %br
    %br
    .recommend
      おすすめ美容室
      %ul
        %a{:href => "https://www.hairmakesarai.com/"}
          %li ヘアーメイク紗来

%br

