.title
  message

.hanamizuki
  .contents
    %br
    年齢を脱いで洋服は最高に楽しい！をもう一度
    %br
    %br
    鏡を友達にして・時々
    「私はどう～」を！
    %br
    %br
    女性の輝きは美しさと素敵と笑顔と自信です。
    %br
    %br
    歳を重ねることで美しくなるもの、知性も経験も輝きだすのは♪
    
    
    %br
    %br
    今「カッコイイ」です。
    
    
    %br
    %br
    力強く繊細高貴でモダン・風格を感じさせながら洗練された表情に仕上げる気品に満ちた存在感。
    %br
    %br
    オシャレな服を着た瞬間自信が持てる幸福感は最高の笑顔と共に
    素敵な大人を約束してくれます！
    %br
    %br
    新しい素敵と笑顔「今が一番」の
    自信の貴女様に!!
    %br
    %br
    エルヴェが頑張ります。
 
