.title
  message
.contents
  年齢を脱いで洋服は最高に
  楽しい！をもう一度
  
  鏡を友達にして・時々
  「私はどう～」を！
  女性の輝きは美しさと素敵と
  笑顔と自信です。
  
  歳を重ねることで美しくなるもの・知性も経験も輝きだすのは♪
  
  
  
  今「カッコイイ」です・
  
  
  
  力強く繊細高貴でモダン・風格を感じさせながら洗練された表情に
  仕上げる気品に満ちた存在感・
  オシャレな服を着た瞬間自信が持てる幸福感は最高の笑顔と共に
  素敵な大人を約束してくれます！
  新しい素敵と笑顔「今が一番」の
  自信の貴女様に♥
  
  エルヴェが頑張ります。
