    <% @product.images.each do |image| %>
      <%= image_tag image.src.url %>
    <%end%>
    <p>商品名：<%= @product.name %></p>
    <p>商品説明：<%= @product.explain %></p>
    <p>商品価格：<%= @product.price %></p>


購入しますか？
