.acccessBox{
  width: 1000px;
  margin: auto;
  display: flex;
  .access{
    background-color: coral;
    width: 500px;
    height: 500px;
  }

  .link{
    background-color: cyan;
    width: 500px;
    height: 500px;
  }

}

