.itemsBox{

  width: 1000px;
 
  margin: auto;
  text-align: left;
  
  
}



.productsBox{
  width: 1000px;
  margin: 30px auto;


  position: relative;
  display: flex;

}

.box{
  position: relative;
  width: 500px;

  margin: 50px auto;
  font-size: 25px;
}


.a{
  position: absolute;
}

