.itemsBox{

  width: 1000px;
 
  margin: auto;
  text-align: left;
  
  
}

.clothes{
  background-color: chocolate;
  margin-bottom: 30px;
 
  .kind{
    background-color: orange;
    width: 300px;
    height: 500px;
    
  

    .itemImage{
      width: 250px;
      height: 300px;
      background-color: ghostwhite;
      margin: 25px;
    }
    .explain{
      font-size: 15px;
      width: 290px;
      height: 100px;
    }
    .price{
      font-size: 25px;
    }
  }
}

.items-box{
  display: flex;
}

.items{


}


.productsBox{
  width: 500px;
  display: flex;
  margin: 100px auto;
  justify-content: space-evenly;
  
}