.itemsBox{

  width: 1000px;
 
  margin: auto;
  text-align: left;
  .items-box_photo__sold{
    width: 0;
    height: 0;
    border-top: 60px solid #ea352d ;
    border-right: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #ea352d ;
    z-index:100;
    position: relative;
    top:-320px;
    &__inner{
      transform: rotate(-45deg);
      font-size: 28px;
      margin:-35px 0px 0px -55px;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 600;
    }
  }
  
  
}



.productsBox{
  width: 1000px;
  margin: 30px auto;


  position: relative;
  display: flex;

}

.box{
  position: relative;
  width: 500px;

  margin: 50px auto;
  font-size: 25px;
}

.items{
  font-size: 20px;
  margin: 20px;
  

}


.name{
  text-decoration: none;
  color: black;

}

.item_s{
  font-size: 20px;
}

.items:hover{
  background-color: rgba($color: #443d3d, $alpha: 0.1);
}


.a{
  width: 1000px;
  text-align: center;
  margin: 30 200px;

}


.choice{
  display: flex;
  justify-content: space-between;
}

#payjp_checkout_box{
  margin: auto;
  text-align: center;
  width: 500px;
  height: 300px;
}

.ab{
  text-align: left;
}

h5{
  color: red;
}