


.consept{
  color: black;
}

.image{
  width: 1440px;
  height: 490px;


}
.imageBox{
  height: 500px;
  width: 1000px;
  margin: 20px auto;


 





}

.yukiTorii{
  display: flex;
  
}

#shoues{
  height: 470px;
}





.itemss{

  width: 1000px;
 
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px auto;
  padding-bottom: 30px;




  .itemsss{

    padding: 0 20px;

    color: black;
    font-size: 25px;
    display: flex;


   
    .oyuki{
      padding: 20 10px;

    }

    .hanae_Mori{
      padding: 20 10px;
    }
    .jion{
      padding: 20 10px;
      
    
    }
    .idem{
      padding: 20 10px;

      
    }
    .satto{
      padding: 20 10px;

     
    }
  
    .nubel{
      padding: 20 10px;

      
    }
  }
  
}


