


.consept{
  color: black;
}

.image{
  width: 1440px;
  height: 490px;


}
.imageBox{
  height: 500px;
  width: 1000px;
  margin: 20px auto;


 





}

.yukiTorii{
  display: flex;
  
}

#shoues{
  height: 470px;
}





.itemss{

  width: 1400px;
  height: 800px;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  margin: auto;




  .itemsss{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
    text-align: end;
    color: white;
    font-size: 20px;
    margin-left: 10px;
   
    .oyuki{
      width: 500px;
      height:300px;
      background-color: coral;
      
      
 
     

    }
    .jion{
      width: 500px;
      height:300px;
      background-color: coral;
    
    }
    .idem{
      width: 400px;
      height:300px;
      background-color: coral;
      
    }
    .satto{
      width: 400px;
      height:300px;
      background-color: coral;
     
    }
  
    .cool{
      width: 400px;
      height:300px;
      background-color: coral;
      
    }
  }
  
}


