
  
  <div class="items">
    <% product.images.each do |image| %>
    
      <%= image_tag image.src.url %>
    
    <div class = "name">
      <%= product.name %>
    </div>
    <div class = "explain">
      <%= product.explain %>
    </div>
    <div class = "price">
      <%= product.price %>円
    </div>

    <% end %>
  </div> 
  

