
  <div class = "title">
    shop

    <div class = "itemsBox">
      <div class = "clothes">
        <div class = "kind">
          <% product.images.each do |image| %>
          <div class = itemImage>
            <%= image_tag image.src.url %>
          </div>
          <div class = "name">
            <%= product.name %>
          </div>
          <div class = explain>
            商品説明
            <p><%= product.explain %>円</p>
          </div>

          <div class = "price">
            <p><%= product.price %>円</p>
          </div>

          <% end %>
        
       

        </div>
      </div>
    </div>
  
  </div>
