

  <div class="items">
    <% product.images.each do |image| %>
    
      <%= image_tag image.src.url %>
    
    <div class = "name">
      商品名：<%= product.name %>
    </div>
    <div class = "explain">
      商品説明：<%= product.explain %>
    </div>
    <div class = "price">
      ¥<%= product.price %>
    </div>

    <% end %>
  </div> 
  

