<div class = "a">
  <% @product.images.each do |image| %>
    <%= image_tag image.src.url %>
  <%end%>
  <p><%= @product.name %></p>
  <p><%= @product.explain %></p>
  <p><%= @product.price %></p>

</div>